<h1>Results Page</h1>

<ul>
  <% results.Search.forEach((movie) => { %>
    <div>
    <h4><%=movie.Title %> - <%=movie.Year%> </h4>
    <p>Type: <%=movie.Type%></p>
    <img src="<%=movie.Poster%>" alt="<%=movie.Title %>">
    </div>
  <% }) %>
</ul>

<a href="/">Search Again</a>